.certification {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification__date {
  width: 100%;
}

.certification__date::before,
.certification__date::after {
  content: "";
  display: inline-block;
  background-color: #f8c48d;
  width: 30%;
  height: 0.1rem;
  margin: 0 1rem;
  vertical-align: middle;
}

.certification__logo {
  height: 10rem;
  transform: scaleY(1);
  transition: transform 200ms ease-in;
}

.certification:hover .certification__logo {
  transform: scale(1.1);
}

.certification__title {
  font-size: 2em;
}

.certification__description {
  width: 50%;
  font-size: 1.2rem;
  line-height: 2.5rem;
}


.certification__print {
  border: 1px solid #e9efff;
  padding: 1.5rem;
  border-radius: 8px;
}

.certification__print-img {
  height: 2rem;
  transform: scale(1);
  transition: transform 200ms ease-in;
}

.certification__print:hover .certification__print-img {
  transform: scale(1.2);
}

.certification__print p {
  margin: 0;
}
