.qualifications {
  /* height: 100vh; */
  background-image: linear-gradient(
      rgba(59, 43, 17, 0.6),
      rgba(59, 43, 17, 0.4)
    ),
    url("../../assets/img/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg");
  background-position: top 20% right 20%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
